/****
	FOOTER PART
****/
.nav-footer {
	list-style: none;
	color: white;
}

.nav-link:visited {
	color:white;
}

.bi-heart-fill {
	color: red;
}

@media (min-width: 768px) {
	.border-responsive {
		border-right: 1px solid gray;
	}
}


/****
	NAV PART
****/
.header-logo {
	width:50px;
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.ico-btn{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	cursor: pointer;
	transition: all .20s ease-in;
	border-radius: 50%;
}


.ico-btn__burger,
.ico-btn__burger::before,
.ico-btn__burger::after{
	width: 20px;
	height: 2px;
	background: #fff;
	border-radius: 2px;
	transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.ico-btn__burger::before{
	content: '';
	position: absolute;
	right: 7px;
	transform: translateY(-6px);
}

.ico-btn__burger::after{
	content: '';
	position: absolute;
	right: 7px;
	transform: translateY(6px);
}

@media (min-width: 992px) {
	.resp-login {
		position: absolute;
		right: 20px;
	}
}

/* -------------------------------------------
**  ANIMATION BURGER
============================================= */
.ico-btn.is-active .ico-btn__burger{
	background: transparent;
}

.ico-btn.is-active .ico-btn__burger::before{
	transform: rotate(-45deg);
}

.ico-btn.is-active .ico-btn__burger::after{
	transform: rotate(45deg);
}

.ico-btn.is-active{
	transform: rotate(360deg);
}


/****
	FORM PART
****/
.form-custom-label {
	top: 0.5rem;
	left: 0.5rem;
	padding: 0 10px;
	color: #4c8ca0;
	transition: top 200ms ease-in, font-size 200ms ease-in, background-color 200ms ease-in;
}

.form-custom-input {
	border: 2px solid #4c8ca0!important;
	padding: 5px 0px;
	background-color: transparent;
	
}

.form-custom-input:focus ~ .form-custom-label,
.form-custom-input:not(:placeholder-shown).form-custom-input:not(:focus) ~ .form-custom-label {
	top: -0.75rem;
	border-radius: 0.5rem;
	background-color: white;
	font-size: 0.8rem;
}


/****
	HOME / Intro PART
****/
.center-img {
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
		text-shadow: 2px 2px 4px black;
}

/****
	ERROR PART
****/
.button-position {
	top:5%;
	left:5%;
}
