/****
    HOME / Intro PART
****/
.center-img {
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px black;
}


/****
    HOME / CONTACT FORM PART
****/
.form-custom-label {
    top: 0.5rem;
    left: 0.5rem;
    padding: 0 10px;
    color: #4c8ca0;
    transition: top 200ms ease-in, font-size 200ms ease-in, background-color 200ms ease-in;
}

.form-custom-input {
    border: 2px solid #4c8ca0!important;
    padding: 5px 0px;
    background-color: transparent;
    
}

.form-custom-input:focus ~ .form-custom-label,
.form-custom-input:not(:placeholder-shown).form-custom-input:not(:focus) ~ .form-custom-label {
    top: -0.75rem;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 0.8rem;
}




.error {
    background-repeat: no-repeat;
    background-size: contain;
    width: 700px;
    height: 500px;
}
.errorNotFound {
    background-image: url('./media/404.jpg');
}

.errorUnknown {
    background-image: url('./media/unknown.jpg');
}

.errorSystem {
    background-image: url('./media/unknown.jpg');
}

.errorHack {
    background-image: url('./media/hackemote.jpg');
}
